services:        
  backend:
    build: ./backend 
    command: python manage.py runserver 0.0.0.0:8000 
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000" #this is the local host port for development
    environment:
      POSTGRES_DB: cas_db_vbw1
      POSTGRES_USER: cas_db_user
      POSTGRES_PASSWORD: QU5MDe3SOswIcpPdGdmbVzXK7BUhqAYK
      POSTGRES_HOST: dpg-d2qhbfndiees73d0kq10-a.singapore-postgres.render.com
      POSTGRES_PORT: 5432
      SECRET_KEY: django-insecure-cwvx9hp!sdh*6p+_-i8rq!5cr2i771u*v(b_1*dcv*7v8*ympt
      DEBUG: "True"
      DJANGO_ALLOWED_HOSTS: "localhost,127.0.0.1"