<!-- 
 Modal Container for student creation
 - Hidden by default, pops up when option is triggered
 -->
 <div id="addStudentModal" class="modal" style="display:none">
    <div class="modal-content">
        <span class="close-btn">&times;</span> <!-- Close -->
        <h2>Add Student</h2>

        <!-- Form posts to view -->
        <form id="addStudentForm" method="post">
            {% csrf_token %}
            {{ add_form.as_p }} <!-- Render fields -->
            <!-- Validation Errors display -->
            <div id="addStudentErrors" style="color:red"></div>
            <div class="modal-actions">
                <button class="btn-primary" type="submit" id="addStudentSubmit">Save</button>
            </div>
        </form>
     </div>
 </div>

 <!--
 Modal container for notes functionality 
 -->
 <div id="notesModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h2>Student Notes</h2>
        <form id="notesForm" method="post">
            {% csrf_token %}
            <textarea id="notesTextarea" rows="6" style="width:100%"></textarea>
            <br>
            <div class="modal-actions">
                <button class="btn-secondary" type="submit">Save</button>
            </div>
        </form>
    </div>
 </div>

 <!-- Pop up to view student preferences -->
<div id="preferencesModal" class="modal" style="display:None;">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h2>Project Preferences</h2>
        <ul id="preferencesList" class="modal-list"></ul>
    </div>
</div>

<!-- Modal to confirm removal of a student -->
<div id="removeStudentModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h2>Remove Student</h2>
        <p id="removeStudentMessage"></p>
        <div class="modal-actions">
            <button id="confirmRemoveBtn" class="btn-danger">Yes</button>
            <button id="cancelRemoveBtn" class="btn-secondary">No</button>
        </div>
    </div>
</div>

<!-- Modal for Groups -->
<div id="studentModal" class="modal student-modal" style="display:none;">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
    <h2>Select Student</h2>

    <!-- Filters button -->
    <div class="top-bar">
      <button class="btn-secondary" onclick="openFilterModal()">Open Filters</button>
    </div>

    <div class="scroll-container">
      <table class="student-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>CWA</th>
            <th>Major</th>
            <th>Submitted</th>
            <th>Allocated</th>
            <th>Notes</th>
            <th>Preferences</th>
          </tr>
        </thead>
        <tbody id="studentsTableBodyModal"></tbody>
      </table>
    </div>
  </div>
</div>