<!-- 
 Student View Page 
 Displays a table with all students and relevant fields 
 Allows sorting by each field 

 Base Page for Student View - calls all relevant html files 
 --> 
{% extends 'admin_base.html' %}
{% block styles %}

{% load static %}
<link rel="stylesheet" href="{% static 'admin_app/css/students.css' %}">
<link rel="stylesheet" href="{% static 'admin_app/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'admin_app/css/student_buttons.css' %}">
{% endblock styles %}

{% block content %}
<!-- Include htmls -->
{% include "students/student_filters.html" with filter_target_url=filter_target_url degree_major_pairs=degree_major_pairs selected_majors=selected_majors %}
{% include 'students/student_modals.html' with form=add_form %}
{% include 'students/student_importCSV.html' with form=import_form %}
{% include 'students/student_table.html' %}

<!-- Import Scripts -->
{% load static %}
<script src="{% static 'admin_app/js/students/modal_function.js' %}"></script>
<script src="{% static 'admin_app/js/students/student_table.js' %}"></script>
<script src="{% static 'admin_app/js/students/student_filters.js' %}"></script>
<script src="{% static 'admin_app/js/students/add_notes.js' %}"></script>
<script src="{% static 'admin_app/js/students/import_students.js' %}"></script>
<script src="{% static 'admin_app/js/students/add_student.js' %}"></script>
<script src="{% static 'admin_app/js/students/student_page.js' %}"></script>
{% endblock content %}