{% extends "admin_base.html" %}

{% load static %}
{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'admin_app/css/groups.css' %}">
<link rel="stylesheet" href="{% static 'admin_app/css/student_search.css' %}">
<link rel="stylesheet" href="{% static 'admin_app/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'admin_app/css/student_buttons.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

<meta name="csrf-token" content="{{ csrf_token }}">
{% include "students/student_modals.html" %}
{% include "students/student_filters.html" with filter_target_url=filter_target_url degree_major_pairs=degree_major_pairs selected_majors=selected_majors %}
{% endblock %}

<div class="tabs">
    <button class="tab-btn active" data-target="suggested-tab">Group Creation</button>
    <button class="tab-btn" data-target="final-tab">Final Groups</button> 
</div> 

<div id="suggested-tab" class="tab-content active">
    <div class="container-grid">
        <!--Left Panel: Suggested Groups List -->
        <div class="panel">
            <div class="group-actions">
                <button type="button" class="btn btn-primary btn-block" id="create-group-btn">+ Create Group</button>
                <button type="button" class="btn btn-primary btn-block" id="generate-suggestions-btn">Generate Suggestions</button>
            </div>

            <div id="groups-container">
                <div id="manual-groups-section">
                    <div class="group-section-title">Manual Groups</div>
                    <ul class="list" id="manual-groups-ul"></ul>
                </div>
            
                <div id="suggested-groups-section">
                    <div class="group-section-title">Suggested Groups</div>
                    <ul class="list" id="suggested-groups-ul"></ul>
                </div>
            </div>
        </div>

        <!-- Center Panel: Group Details -->
        <div class="panel">
            <!-- Left of Center Panel -->
            <div class="group-details">
                <div class="group-info">
                    <h3 id="group-title">Select a group</h3>
                    <div id="group-size"></div>
                </div>

                <!-- Right of Center Panel -->
                <div class="group-extra" id="group-extra">
                    <div id="group-project-name"></div>
                    <div id="group-capacity"></div>
                    <div id="group-host"></div>
                </div> 
            </div>

            <div id="group-members"></div>
        </div>

        <!-- Right Panel: Actions -->
        <div class="panel">
            <h3>Actions</h3>
            <button class="btn btn-primary btn-block" id="finalise-group-btn" disabled>Finalise Group</button>
            <button class="btn btn-primary btn-block btn-danger" id="delete-group-btn">Delete Group</button>
            <div class="error-box" id="group-errors">
                <ul></ul>
            </div>
        </div>
    </div>
</div> 

<div id="final-tab" class="tab-content">
    <div class="panel">
        <h3>Final Groups</h3>
        <p>No final groups yet.</p>
    </div> 
</div>

{% load static %}
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script type="module" src="{% static 'admin_app/js/students/group_tabs.js' %}"></script>
<script type="module" src="{% static 'admin_app/js/students/suggested_groups.js' %}"></script>
<script type="module" src="{% static 'admin_app/js/students/student_filters.js' %}"></script>
<script type="module" src="{% static 'admin_app/js/students/student_table.js' %}"></script>
<script type="module" src="{% static 'admin_app/js/students/render_groups.js' %}"></script>
<script type="module" src="{% static 'admin_app/js/students/modal_function.js' %}"></script>
<script type="module" src="{% static 'admin_app/js/students/add_notes.js' %}"></script>

{% endblock %}