/*
Minimalist CSS implementation for the modal pop-up
Without CSS just appends it to the bottom of the page */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
}

.modal-content {
    position: relative;               
    background: #fafafa;              
    border: 1px solid #ccc;           
    border-radius: 6px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: auto;
}

.modal-content h2 {
    margin-top: 0;
    border-bottom: 2px solid #ccc;
    padding-bottom: 8px;
    font-size: 1.4rem;
}

/* Styling for input boxes */
.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content input[type="email"],
.modal-content input[type="file"],
.modal-content textarea,
.modal-content select {
    width: 100%;
    padding: 4px 6px;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;   
    border: 1px solid #999;
    border-radius: 4px;
    background: #fff;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 6px;
}

.modal-content input:focus,
.modal-content textarea:focus,
.modal-content select:focus {
    outline: none;
    border-color: #297b8f;            
    box-shadow: 0 0 4px rgba(41,123,143,0.4);
}

.modal-content button {
    align-self: flex-end;             
}

.close-btn {
    position:absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

#importStudentForm input[type="file"] {
    display: block;
    margin-top: 5px;
}