body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    height: 100vh;
}
.container {
    display: flex;
    flex-grow: 1;
}
#left-pane {
    width: 25%;
    padding: 20px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}
#right-pane {
    flex-grow: 1;
    padding: 30px;
    overflow-y: auto;
}
h1 {
    font-size: 24px;
    margin-bottom: 15px;
}
h2 {
    font-size: 20px;
    margin-bottom: 20px;
}
form div {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, select, button, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
button {
    cursor: pointer;
    border: none;
    color: black;
    padding: 10px 15px;
}

.hidden {
    display: none !important;
}

.round-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
}

.message-box {
    padding: 10px;
    color: black;
    margin-top: 10px;
    text-align: center;
    border: 1px solid black;
}

.success-message {
    border-color: green;
}

.error-message {
    border-color: red;
}

.info-message {
    border-color: blue;
}
