/* Base Button Styles */
.btn {
    display: inline-block;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 0.2s;
}

.btn:disabled, 
.btn:disabled:hover {
    background: #aaa !important;
    cursor: not-allowed !important;
}

.btn-primary {
    background: #007bff;
    color: #fff;
}
.btn-primary:hover {
    background: #0056b3;
}

.btn-secondary {
    background: #7185c5;
    color: #fff;
}

.btn-secondary:hover {
    background: #4b5882;
}

.btn-success {
    background: #28a745;
    color: #fff;
}

.btn-success:hover {
    background: #186b2c;
}

.btn-danger {
    background: #d9534f;
    color: #fff;
}

.btn-danger:hover {
    background: #c9302c;
}

#delete-group-btn {
    display: none;
}

/* Loading */
button.loading {
  position: relative;
  pointer-events: none;   /* disable clicks */
  color: transparent !important; /* hide text */
}

/* Spinner overlay */
button.loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  transform: translate(-50%, -50%);
  border: 4px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  z-index: 2;
}

@keyframes spin {
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

/*=========================================*/

/* Size Modifiers, if needed go here */
.btn-block {
    width: 100%;
    font-size: 1.2rem;
}

.btn-block + .btn-block {
    margin-top: 8px; /* adjust as needed */
}
/*=========================================*/

.btn.has-content {
    background: #28a745;
    color: #fff;
}

.btn.has-content:hover {
    background: #186b2c;
}

.remove-btn {
    position: absolute;
    top: 4px;
    right: 6px;
    cursor: pointer;
    font-weight: bold;
    color: #b71c1c;
    font-size: 28px;
    background: none;
    border: none;
    padding: 0;
}
.remove-btn:hover {
    color: #f44336;
}

/* Add-student card treated as button */
.add-student-card {
    border: 2px dashed #28a745;
    color: #28a745;
    background: #fafafa;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}
.add-student-card:hover {
    background: #f0f0f0;
}

.list-item-btn {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 5px;
    border: 1px solid #999;
    background: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 1.1rem;
}

.list-item-btn:hover {
    background: #e9e9e9;
}

.list-item-btn.active {
    border: 3px solid #000;
    font-weight: bold;
}

.list-item-btn.strength-strong {
    background-color: #06c575;   
    color: black;
}

.list-item-btn.strength-medium {
    background-color: #acfcb7;   
    color: black;
}

.list-item-btn.strength-weak {
    background-color: #f2ffcf;   
    color: black;
}

.list-item-btn.strength-manual {
    background-color: #ffffff;
    color: #000;
}