<!DOCTYPE html>
<html> 
<head>
    <meta charset="UTF-8">
    <title>Admin Portal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin_app/css/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div id="navigationBar">
        {% block navigationBar %}
            <ul>
                <li><a href="{% url 'admin_dashboard:login' %}"> Login </a></li> 
                <li><a href="{% url 'admin_dashboard:logout' %}"> Logout </a></li> 
                <li><a href="{% url 'admin_dashboard:student_view' %}"> Students </a></li> 
                <li><a href="endpoint for screen"> Groups </a></li> 
                <li><a href="{% url 'admin_dashboard:project_dashboard'%}"> Projects </a></li> 
                <li><a href="{% url 'admin_dashboard:round_view' %}"> Round form </a></li> 
                <li><a href="{% url 'admin_dashboard:settings' %}"> Settings </a></li> 
                <li><a href="{% url 'admin_dashboard:email_page' %}"> Email </a></li>
                <li><a href="{% url 'admin_app:information_list' %}"> Information Sections </a></li>
            </ul>
        {% endblock %}
    </div>
    <script>
        window.ENDPOINTS = {
            projects: "{% url 'api_admin:project-list' %}",
            rounds: "{% url 'api_admin:round-list' %}",
            // Add other endpoints here as you create them
        };
    </script>
    {% block scripts %}{% endblock %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>