<style> 
#importStudentForm input[type="file"] {
    display: block;
    margin-top: 5px;
}
</style>

<!-- 
 Modal Container to import students CSV
 - Hidden by default, pops up when option is triggered
 -->
<div id="importModal" 
    class="modal" 
    style="display:none"
    data-import-url="{% url 'admin_app:student_import' %}">

    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h2>Import Students CSV</h2>

        <!-- Form -->
        <form id="studentImportForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ import_form.as_p }} <!-- Render -->
            <div id="importFormErrors" style="color:red"></div>
            <button type="submit">Import</button>
        </form>
    </div>
</div>