<!DOCTYPE html>
<html> 
    <script src="https://unpkg.com/petite-vue" defer init></script>
<head>
    <title>Student Portal</title>
</head>
<body>
    <div id="navigationBar">
        {% block navigationBar %}
            <h1>Capstone Allocation</h1>
            <ul>
                <li><a href="{% url 'students:student_form' %}"> Make Application </a></li> #Temporary link to student form, will be moved to rounds later
                <li><a href="endpoint for screen"> Capstone Information </a></li> 
                <li><a href="endpoint for screen"> Project Information </a></li>
                <li><a href="endpoint for screen"> Industry Round </a></li> 
                <li><a href="endpoint for screen"> Internal Round </a></li> 
            </ul>
        {% endblock %}
    </div>
    <div v-scope id="content">
        {% block content %}{% endblock %}
    </div>
</body>